@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e57ffm');
  src:  url('fonts/icomoon.eot?e57ffm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e57ffm') format('truetype'),
    url('fonts/icomoon.woff?e57ffm') format('woff'),
    url('fonts/icomoon.svg?e57ffm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
